* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #0095f6;
}
ul li {
    list-style: none;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #fafafa;

}
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.panel {
    border: 2px solid  #ccc;
    padding: 20px 30px;
    background-color: #fff;
    width: 350px;
    
}
.panel img {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    
}
.form-data form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.s-width {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: rgb(238, 234, 234);
}
.btn {
    color: #fff;
    background-color: #0095f6;
    border: none;
}
.breaker {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.line {
    background-color: #ccc;
    height: 1px;
    width: 100%;
    margin-top: 10px;
}
.center {
    text-align: center;
    margin: 20px 0 0 0;
}
.sm-panel {
    border: 2px solid #ccc;
    background-color: #fff;
    margin-top: 10px;
    padding: 15px 70px;
}
.download-text {
    text-align: center;
    margin: 20px 0;
}
.download img {
    height: 40px;
}
footer {
    padding: 20px 50px;
    margin-bottom: 30px;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
    
}
footer ul li {
    padding-left: 20px;
}
footer ul li a {
    color: #808080;
}
footer p {
    text-align: center;
    color: #808080;
}
.red {
    color: red;
}